/* Importing reset. Doing this so that it can be in another file (less messy) */
@import "reset.css";

:root {
    /*Colours*/
    --green: #397c40;
    --blue: #060846;
    --red: #ee0044;
    --lightBlue: #33b0db;
    --mustardYellow: #faa714;
}

body {
    font-family: "Delicious Handrawn", cursive;
    background-color: #eeead7;
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
    padding: 1rem;
    background-color: #eeead7;
}
.main__title {
    font-size: 3rem;
}
.card {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40rem;
    width: 50rem;
    border-radius: 2rem;
    padding: 2rem;
    background-color: var(--mustardYellow);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
        rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
@media (max-width: 60rem) {
    .card {
        border-radius: 0rem;
        max-width: 50rem;
        width: 90vw;
    }
}
.card-information {
    text-align: center;
    font-size: 1.2rem;
}
.card-information--lg {
    font-size: 2rem;
}

.btn {
    padding: 0.5rem 2rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    background-color: var(--green);
    color: white;
    transition: 200ms;
}
.section-gallery {
    width: 100vw;
    background-color: var(--mustardYellow);
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.gallery-wrapper {
    display: grid;
    align-items: center;
    text-align: left;
    justify-content: center;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    max-width: 1024px;
    min-height: 500px;
    border-radius: 2rem;
}

.gallery img {
    background: white;
    width: 250px;
    height: 150px;
}
.card--visible {
    display: flex;
}

.canvas {
    border: 1px solid black;
    background: white;
}

.card--content-positioning {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 60rem) {
    .card--content-positioning {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
    }
}

.card__grid-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.input__content-wrapper {
    display: none;
    flex-direction: column;
    gap: 1rem;
}
.input__content-wrapper--visible {
    display: flex;
}
.btn__submit-guess {
    text-align: center;
}

.condition__wrapper {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.condition--visible {
    display: flex;
}

.loader {
    width: 3rem;
    display: none;
}
.loader--visible {
    display: block;
}

.gallery-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
