/* Importing reset. Doing this so that it can be in another file (less messy) */
@import "reset.css";

:root {
    /*Colours*/
    --green: #397c40;
    --blue: #060846;
    --red: #ee0044;
    --lightBlue: #33b0db;
    --mustardYellow: #faa714;
}

body {
    font-family: "Delicious Handrawn", cursive;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
    background-color: white;
    padding: 1rem;
}
.title {
    font-size: 3rem;
}
.card {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40rem;
    width: 50rem;
    border-radius: 2rem;
    padding: 2rem;
    background-color: var(--mustardYellow);
}
@media (max-width: 50rem) {
    .card {
        border-radius: 0rem;
        width: 100%;
    }
}
.card-information {
    font-size: 2rem;
    text-align: justify;
    padding-bottom: 1rem;
    margin: 2rem;
    text-align: center;
}
.button {
    padding: 0.5rem 2rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    background-color: var(--green);
    color: white;
    transition: 200ms;
}
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.gallery img {
    display: block;
    background-color: var(--blue);
    border-radius: 1rem;
    width: 300px;
    height: 200px;
}
.card--visable {
    display: flex;
}

canvas {
    background: white;
    width: 400px;
}
