/* Importing reset. Doing this so that it can be in another file (less messy) */
@import "reset.css";

:root {
    /*Colours*/
    --green: #397c40;
    --blue: #060846;
    --red: #ee0044;
    --lightBlue: #33b0db;
    --mustardYellow: #faa714;
}

body {
    font-family: "Delicious Handrawn", cursive;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
    background-color: white;
    padding: 1rem;
}
.title {
    font-size: 3rem;
}
.card {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40rem;
    width: 50rem;
    border-radius: 2rem;
    padding: 2rem;
    background-color: var(--mustardYellow);
}
@media (max-width: 50rem) {
    .card {
        border-radius: 0rem;
        width: 100%;
    }
}
.card-information {
    font-size: 1.5rem;
    text-align: justify;
    padding-bottom: 1rem;
    text-align: center;
}
.button {
    /* padding: 0.5rem 2rem; */
    font-size: 2rem;
    border-radius: 0.5rem;
    background-color: var(--green);
    color: white;
    transition: 200ms;
}
.section-gallery {
    width: 100vw;
    background-color: var(--mustardYellow);
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.gallery-grid {
    display: grid;
    align-items: center;
    text-align: left;
    justify-content: center;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    max-width: 1024px;
    min-height: 500px;
    border-radius: 2rem;
}

.gallery img {
    background-color: var(--blue);
    width: 200px;
    height: 100px;
}
.card--visable {
    display: flex;
}

.canvas {
    border: 1px solid black;
    background: white;
}

.card--content-positioning {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 70rem) {
    .card--content-positioning {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
    }
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.form {
    display: none;
    flex-direction: column;
    gap: 1rem;
}
.form--visable {
    display: flex;
}
.submitGuessBtn {
    text-align: center;
}
